@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@300;400&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: borer-box;
}

 
body {
    background: linear-gradient(120deg, #10576d, #2927b6);
    font-family: "Poppins", sans-serif;
    color:#fff;
    
 
   
}

header, form {
    width: 380px;
  margin: 0 auto;
}


form input, form button {

    padding:0.5rem;
    font-size: 1.5rem;
    border:none;
    background: white;
}

form button {

    color:orange;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: orange;
    color:white;
}

.container {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
}


.to-do-container {
    width: 400px;
    margin:0 auto;
}

    .todo {
        width: 380px;
        height: 45px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: flex-start;
    }

    .todo-item {
        color: #000;
  list-style-type: none;
  padding: 14px;
  width: inherit;
    }

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    background: green;
    color:white;
}

.select {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

select {
    color: #ff7800;
    font-weight: bold;
    width: -moz-available;
    cursor: pointer;
    padding: 0.7rem;
    background: #fff;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: rgb(245, 114, 6);
    top: 0;
    right: 0;
    padding: 0.6rem;
    pointer-events: none;
    width: 25px;
    text-align: center;
    transition: all 0.5s ease;

}
